*{
    margin: 0%;
    padding: 0%;
    list-style-type: none;
    box-sizing: border-box;
}
body{
    height: 100vh;
    font-family: "Roboto", sans-serif;
}
.container{
    width: 1140px;
    margin: 0 auto;
    position: relative;
}
.nav .container{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    align-items: center;
    width: 1340px;
}
.nav-logo{
    font-size: 30px;
    font-weight: 800;
    color: rgba(0, 0, 0, 0.5);
}
.logo-d{
    color: red;
}
.nav-list{
    display: flex;
}
.nav-item{
    padding: 15px;
}
.nav-link{
    text-decoration: none;
    color: black;
    transition: 0.3s;
}
.nav-link:hover{
    color: red;
}
.join{
    text-decoration: none;
    color: white;
    background-color:rgb(116, 202, 231);
    padding: 15px;
    border-radius: 5px;
    box-shadow: -5px 5px 5px -5px grey;
    transition: .3s;
    text-align: center;
}
.join:hover{
    background-color: gold;
    box-shadow: 0px 0px 10px rgb(146, 43, 43);
}
.heading{
    margin-bottom: 100px;
}

.heading .container{
    display: flex;
    align-items: center;
}
.heading__text{
    width:40% ;
    transform: translateY(-15px);
    
}
.heading-title{
    font-size: 120px;
    line-height: 1.5;
}
.heading__span{
    color: red;
}
.heading-subtext{
    margin-top: 30px;
    line-height: 2;
    color: grey;
    margin-bottom: 50px;
}
.heading-photo{
    width: 100%;
    transform: translateX(100px);
    z-index: 2;
}
.circle{
    height: 80px;
    width: 80px;
    position: absolute;
    top: 15%;
    left: 40%;
}
.half-circle{
    position: absolute;
    bottom: 14%;
    left: 33%;
    z-index: -1;
}
.macaron{
    position: absolute;
    top: 18%;
    left: 3%;
    z-index: -1;
}
.full-stops{
    width: 200px;
    position: absolute;
    top: 10%;
    right: 30%;
    z-index: -1;
}
.benefits-heading{
    width: 60%;
    margin: 0 auto;
    text-align: center;
}
.benefits-title{
    font-size: 50px;
    width: 100%;
    line-height: 1.5;
    margin-bottom: 20px;
    transform: translateX(60px);
}
.benefits-text{
    line-height: 2;
    color: grey;
    width: 120%;
    margin-bottom: 20px;
}
.main{
    position: relative;
    margin-bottom: 100px;
}
.main-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 100px;
    
}
.main-item{
    width: 300px;
    height: 280px;
    margin:20px;
    border-top-right-radius: 30%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 20px;
    background-color: white;
    transition: 0.3s;
}
.main-item:hover{
   box-shadow: 0px 0px 10px rgb(204, 196, 196);
}
.main-image{
    padding: 10px;
    width: 60px;
    height: 60px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-bottom: 20px;
}
.main-item-text{
    font-size: 10px;
    line-height: 2;
    color: grey;
    margin-top: 20px;
}
.button{
    border: none;
    background-color: white;
    padding: 10px;
}
.icon{
    position: absolute;
    top: 0%;
    left: 4%;
    width: 60px;
    height: 60px;
    z-index: -1;
}
.icon-setka{
    position: absolute;
    bottom: 0%;
    z-index: -1;
}
.half{
    position: absolute;
    bottom: 0%;
    right: 1%;
    z-index: -1;
}
.section-experience{
    position: relative;
    background-color: rgb(252, 249, 249);
    padding: 100px 0px;
    z-index: -2;
}
.section-experience .container{
    display: flex;
    justify-content: space-around;
}
.experience-image{
    width: 40%;         

}
.experience-photo{
    width: 100%;

}
.experience-text{
    width: 48%;
    margin-top: 20px;
    margin-left: 100px;
}
.experience-title{
    width: 100%;
    font-size: 40px;
    margin-bottom: 10px;
}
.experience-subtext{
    font-size: 18px;
    line-height: 2;
    color: grey;
    margin-bottom: 70px;
}
.hr-div{
    display: flex;
    align-items: center;
    margin: 50px 0px;
}
.blue{
    background-color: blue;
    border: none;
    width: 100px;
    height: 5px;
}
.grey{
    background-color: rgb(148, 145, 145);
    border: none;
    width: 200px;
    height: 3px;
}
.path{
    margin-left: 8px;
}
.digital-image{
    position: absolute;
    left: 29%;
    bottom: 1%;
    width: 250px;
    height: 150px;
}
.digital-image-top{
    position: absolute;
    top: 5%;
    left: 1%;
    width: 250px;
    height: 150px;
}
.icon-svg-position{
    position: absolute;
    width: 150px;
    height: 150px;
    top: 7%;
    left: 34%;
}
.icon-position-svg{
    position: absolute;
    bottom: 9%;
    left: 4%;
    width: 100px;
    height: 100px;
    z-index: -1;
}
.section-thinking{
    position: relative;
    padding: 200px;
    z-index: -2;
}
.section-thinking .container{ 
    display: flex;
    justify-content: space-between;
}

.thinking-image{
    transform: translateX(-30px);
    width: 40%;
    height: 0%;        
}
.thinking-title{
    width: 100%;
    font-size: 40px;
    margin-bottom: 10px;
}
.thinking-text{
    width: 40%;
    margin-top: 20px;
    margin-right: 300px;
}
.thinking-subtext{
    line-height: 2;
    color: grey;
    width: 120%;
    margin-bottom: 20px;
}
.thinking-top{
    position: absolute;
    top: 17%;
    right: 0%;
    width: 220px;
    height: 120px;
}
.thinking-bottom{
    position: absolute;
    bottom: 15%;
    right: 25%;
    width: 250px;
    height: 150px;
}
.thinking-top-left{
    position: absolute;
    width: 120px;
    height: 120px;
    top: 18%;
    right: 30%;
    z-index: -1;
}
.nissan{
    position: absolute;
    bottom: 20%;
    right: 1%;
}
.developers-image{
    width: 60%;
    transform: translateX(-120px);
}

.developers-photo{
    width: 100%;
    height: 100%;
}
.developers-text{
    margin-top: 50px;
    width: 50%;
}
.comments{
    padding: 200px;
}
.comment-heading{
    display: flex;
    justify-content: space-around;
}
.comment-title{
    transform: translateX(-100px);
    
}
.comment-list{
    position: relative;
    display: flex;
    width: 100%;
}
.comment-item{
    width: 350px;
    height: 250px;
    background-color: white;
    margin: 10px;
    border-top-right-radius: 30%;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.client-profile{
    display: flex;
}
.comment-photo{
    width: 100px;
    height: 100px;
}
.rate-jenny, .rate-brian, .rate-scott{
    margin-top: 40px;
    transform: translateX(-30px);
    width: 80px;
    height: 20px;
}
.jenny{
    margin-top: 40px;
}
.scott{
    transform: translate(14px, 20px);
    width: 65px;
    height:65px;
}
.brian{
    transform: translateX(25px);
}
.comment-text{
    width: 100%;
    padding: 20px;
}
.rate-jenny{
    position: absolute;
    top:5%;
    transform: translateX(240px);
}
.rate-brian{
    position: absolute;
    top:5%;
    transform: translateX(240px);
}
.rate-scott{
    position: absolute;
    top:5%;
    transform: translateX(240px);
}
.logos-section{
    background-color:rgba(0, 0, 0, 0.1)  ;
}
.logos-list{
display: flex;
justify-content: space-between;
align-items: center;
width: 100%;

}
.logos-item{
    width: 20%;
}

/* .logos{
    width: 250px;
    height: 150px;
} */
/* .hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
} */
/* .hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
} */
.footer{
    
}
.footer-top{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    padding: 100px;
}
.project{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    height: 300px;
    background-color: white;
    box-shadow: 0px 0px 50px rgb(204, 196, 196);
    border-radius: 10px;
}
.project-title{
    padding: 20px;
    font-size: 40px;
    width: 40%;
}
.email{
    margin: 100px;
    width: 30%;
    border: 1px solid rgba(204, 196, 196, .3);
    border-radius: 10px;
    padding: 25px;
}
.resources{
    
    color: white;
    background-color: #242424;
}
.resources .container{
    transform: translateX(-50px);
    padding: 50px;
    display: flex;
    justify-content: space-between;
    height: 50%;
}
.warning{
    position: relative;
 
    width: 30%;
}
.warning-text{
    margin-top: 30px;
    font-size: 12px;
    width: 300px;
    line-height: 2;
}
.resources-list{
    
    width: 20%;
    padding: 10px;
    margin: 0px 50px;
}
.resource-item{
    font-size: 12px;
    width: 10px;
   padding: 10px;
}

.header-email{
    border: none;
    background-color: transparent;
    border-bottom: 1px solid black;
    padding: 10px;
    margin-top: 30px;
}
.offer{
    margin-top: 30px;
    width: 300px;
}
.last{
    display: flex;
    justify-content: space-between;
    padding: 50px 100px;

}
hr{
    background-color: solid black;
}
