*{
    margin: 0%;
    padding: 0%;
    list-style-type: none;
 font-family: "Roboto", sans-serif;
 box-sizing: border-box;
}
body{

}
.nav{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    align-items: center;
}
.nav-logo{
    font-size: 30px;
    font-weight: 800;
    color: rgba(0, 0, 0, 0.5);
}
.logo-d{
    color: red;
}
.nav-list{
    display: flex;
}
.nav-item{
    padding: 15px;
}
.nav-link{
    text-decoration: none;
    color: black;
    transition: 0.3s;
}
.nav-link:hover{
    color: red;
}
.join{
    background-color:rgb(116, 202, 231);
    padding: 10px;
    border-radius: 5px;
    box-shadow: -5px 5px 5px -5px grey;
}